@font-face {
    font-family: 'Extra Days';
    src: url('font/transfonter.org-20240920-064831/ExtraDays.woff2') format('woff2'),
url('font/transfonter.org-20240920-064831/ExtraDays.woff') format('woff');
    font-weight: normal;
    font-style: normal;
   
}

